.DS_Store
*.iml
*.ipr
*.iws
*.log
/*.sha1
/*.zip
/.classpath
/.project
/.settings
*Db.properties
*Db.script
/*DB.*
/.gradle
/.idea
/.link_to_grails_plugins
/build
/userHome
/grails-app
/src/assets
/src/main/webapp
